.table-replace-inner-holder th input {
  margin: 20px 0 0 0;
}
.table-replace-inner-holder th p.submit {
  margin-top: 0;
}
.table-replace-inner-holder .keword-higglight {
  background-color: yellow;
}